TWITTER_API_KEY=tu_valor
TWITTER_API_SECRET=tu_valor
TWITTER_ACCESS_TOKEN=tu_valor
TWITTER_ACCESS_TOKEN_SECRET=tu_valor
TWITTER_BEARER_TOKEN=tu_valor
REDDIT_CLIENT_ID=tu_valor
REDDIT_CLIENT_SECRET=tu_valor
REDDIT_USER_AGENT=tu_valor